@{
    ViewData["Title"] = "ConfigurarJuego";
}
      <form asp-action="Comenzar" method="post">

      @foreach (Dificultades Dif in ViewBag.listarDificultades)
      {
        <button type="button" id="@Dif.IdDificultad" class = "btn btn-primary" 
        onclick="elegirDificultad(@Dif.IdDificultad, @ViewBag.listarDificultades)">@Dif.Nombre</button>
      
      }

        @foreach (Categorias Cat in ViewBag.listarCategorias)
      {
        <button type="button" id="@Cat.IdCategoria" class = "btn btn-primary" 
        onclick="elegirCategoria(@Cat.IdCategoria, @ViewBag.listarCategorias)">@Cat.Nombre</button>
      
      }

    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <button type="submit">Jugar</button>
</form>
  